<div class="aboutBlock">
  <h3>О проекте</h3>
  <p>
    <b>Просмотр расписания с легкостью</b>
    <br />
    <br />
    Наш сервис предоставляет удобный способ просматривать ваше расписание.
    <br />
    <br />
    Вам больше не нужно искать файлы или перелистывать страницы в поиске нужной
    информации.
    <br />
    <br />
    Просто войдите в сервис и получите доступ к следующим функциям:
    <br />
    <br />
    <b>Быстрый доступ к расписанию: </b>Просматривайте свои занятия или важные
    события в одном месте.
    <br />
    Наш интерфейс интуитивно понятен, и вы сможете быстро найти нужную
    информацию.
    <br />
    <br />
    <b>Удобная навигация: </b>легко перемещайтесь между днями, неделями и
    месяцами. Наш сервис позволяет вам быстро переключаться между разными
    периодами времени.
    <br />
    <br />
    <b>Персонализация:</b> настраивайте свое расписание под свои потребности.
    Выбирайте цвета, добавляйте метки и создавайте свои категории.
    <br />
    <br />
    <b>Совместное использование: </b>Поделитесь своим расписанием с друзьями,
    коллегами или семьей.
    <br />
    <br />
    Сделайте свою жизнь проще с нашим сервисом просмотра расписания!
  </p>
</div>
