<li class="item">
  <div *ngIf="lesson.length > 1; then trBlock; else fBlock"></div>
  <ng-template #trBlock>
    <div
      class="subgroupBlock"
      *ngIf="lesson[0]?.subject || lesson[0]?.audience || lesson[0]?.teacher"
    >
      {{ i + 1 }}.&nbsp; Группа 1:

      <span *ngIf="lesson[0]?.subject">
        <b>{{ lesson[0].subject }}</b>
      </span>
      <span *ngIf="lesson[0]?.teacher">
        {{ lesson[0].teacher }}
      </span>
      <span *ngIf="lesson[0]?.audience">
        {{ lesson[0].audience }}
      </span>
    </div>
    <div
      class="subgroupBlock"
      *ngIf="lesson[1]?.subject || lesson[1]?.audience || lesson[1]?.teacher"
    >
      <div *ngIf="!lesson[0]?.subject">{{ i + 2 }}.&nbsp;</div>
      Группа 2:
      <span *ngIf="lesson[1]?.subject">
        <b>{{ lesson[1].subject }}</b>
      </span>
      <span *ngIf="lesson[1]?.teacher">
        {{ lesson[1].teacher }}
      </span>
      <span *ngIf="lesson[1]?.audience">
        {{ lesson[1].audience }}
      </span>
    </div>
  </ng-template>
  <ng-template #fBlock>
    <div>
      <div *ngIf="!lesson.length">{{ i + 1 }}.&nbsp;</div>
      <span *ngIf="lesson[0]?.subject">
        {{ i + 1 }}.&nbsp;<b>{{ lesson[0].subject }}</b>
      </span>
      <span *ngIf="lesson[0]?.teacher">
        {{ lesson[0].teacher }}
      </span>
      <span *ngIf="lesson[0]?.audience">
        {{ lesson[0].audience }}
      </span>
    </div>
  </ng-template>
</li>
