@import 'mixins'
@import 'colors'
.alarmBlock
    @include block
    margin-bottom: 15px
    list-style: none
    li
        margin-bottom: 15px
        border-bottom: 1px solid $primary // TAKE FROM COLORS!!!
        padding-bottom: 15px
        &:last-child
            margin-bottom: 0
            padding-bottom: 0
            border-bottom: none
body[class~=dark]
    .alarmBlock
        background: #1c1c1c // TAKE FROM COLORS
        color: rgba(255, 255, 255, 0.8)
