<li class="item">
  <div *ngIf="pair.length > 1; then trBlock; else fBlock"></div>
  <ng-template #trBlock>
    <div
      class="subgroupBlock"
      *ngIf="pair[0]?.subject || pair[0]?.audience || pair[0]?.teacher"
    >
      {{ i + 1 }}. Группа 1:

      <ng-container *ngIf="pair[0]; let pair">
        <span *ngIf="pair.subject">
          <b>{{ pair.subject }}</b>
        </span>
        <span *ngIf="pair.teacher">
          {{ pair.teacher }}
        </span>
        <span *ngIf="pair.audience">
          {{ pair.audience }}
        </span>
      </ng-container>
    </div>
    <div
      class="subgroupBlock"
      *ngIf="pair[1]?.subject || pair[1]?.audience || pair[1]?.teacher"
    >
      <div *ngIf="!pair[0]?.subject">{{ i + 1 }}.</div>
      Группа 2:
      <span *ngIf="pair[1]?.subject">
        <b>{{ pair[1].subject }}</b>
      </span>
      <span *ngIf="pair[1]?.teacher">
        {{ pair[1].teacher }}
      </span>
      <span *ngIf="pair[1]?.audience">
        {{ pair[1].audience }}
      </span>
    </div>
  </ng-template>
  <ng-template #fBlock>
    <div>
      <div *ngIf="!pair.length">{{ i + 1 }}.</div>
      <span *ngIf="pair[0]?.subject">
        {{ i + 1 }}. <b>{{ pair[0].subject }}</b>
      </span>
      <span *ngIf="pair[0]?.teacher">
        {{ pair[0].teacher }}
      </span>
      <span *ngIf="pair[0]?.audience">
        {{ pair[0].audience }}
      </span>
    </div>
  </ng-template>
</li>
